html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #854075;
    text-align: left;
    padding: 15px;
}

header a{
    color: aliceblue;
    /** el primer valor aplica para top bottom y el segundo para left right **/
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}

main {
    flex: 10;
    padding: 60px;
    text-align: left;
}

main p{
    font-size: 18px;
    margin-bottom: 15px;
}

.input-welcome{
    padding: 10px 20px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

.button-ok{
    padding: 10px 20px;
    background: #221fb6;
    color: azure;
    cursor: pointer;
}

.button-suma{
    padding: 10px 20px;
    background: #221fb6;
    color: azure;
    cursor: pointer;
}

.button-resta{
    padding: 10px 20px;
    background: #221fb6;
    color: azure;
    cursor: pointer;
}

.button-multiplicar{
    padding: 10px 20px;
    background: #221fb6;
    color: azure;
    cursor: pointer;
}

.button-division{
    padding: 10px 20px;
    background: #221fb6;
    color: azure;
    cursor: pointer;
}

footer{
    background-color: rgb(95, 46, 192);
    color: #fff;
    text-align: left;
    padding: 15px;
}